.countdown-container {
  width: 80%;
  margin-inline: auto;
  padding-block: 2rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  text-align: center;
  margin-block: 2rem;
}

li {
  font-size: 2rem;
}

span {
  display: block;
  font-size: 3.2rem;
  font-weight: bold;
}

.reset-btn {
  width: 100%;
  background-color: #006959;
  color: white;
  border: none;
  border-radius: 10rem;
  text-transform: uppercase;
  padding-block: 0.7rem;
  margin-top: 1rem;
  cursor: pointer;
}
