.complete-container {
  width: 80%;
  margin-inline: auto;
  padding-block: 2rem;
}

.complete-title {
  animation: complete 4s infinite;
}

@keyframes complete {
  0% {
    color: rgb(233, 13, 13);
  }
  25% {
    color: rgb(233, 211, 13);
  }
  50% {
    color: rgb(64, 233, 12);
    transform: scale(1.5);
  }
  75% {
    color: rgb(0, 38, 258);
  }
  100% {
    color: rgb(181, 16, 231);
  }
}

.new-countdown {
  width: 100%;
  background-color: #006959;
  color: white;
  border: none;
  border-radius: 10rem;
  text-transform: uppercase;
  padding-block: 0.7rem;
  margin-top: 1rem;
  cursor: pointer;
}
